body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

#menu-hor-green {
    background-color:#abdb4c;
    list-style: none;
    padding: 0;
    display: flex;
}

#menu-hor-green li {
    border-bottom: 5px solid transparent;
}

#menu-hor-green li.active {
     border-bottom: 3px solid #444;
}

#menu-hor-green a {
    color: #444;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    text-underline-offset: 5px;
}

#menu-hor-green a:hover {
    text-decoration: underline;
}

#menu-social-vert {
    width: 60px;
    border: 1px solid #444;
    border-radius: 3px;
    list-style: none;
    padding: 0;
    text-align: center;
}

#menu-social-vert li {
    border-top: 1px solid #444 ;
}

#menu-social-vert li:first-child {
    border-top: none;
}

#menu-social-vert a {
    text-decoration: none;
}

#menu-social-vert span {
    color: #99c63f;
    display: block;
    font-size: 35px;
    width: 60px;
    height: 60px;
    line-height: 60px;
}

#menu-social-vert span:hover {
    color: #abdb4c;
}

#menu-social-vert span:active{
    color: #abdb4c;
}
